		<nav class="level separated">
			<p class="level-item has-text-centered title is-3">
				你好，迪哥😃
			</p>
		</nav>
		<nav class="level separated">
			<div class="level-item has-text-centered">
				<p class="heading">已经高中毕业</p>
				<p class="title">{{ diffDays }} 天</p>
			</div>
			<div class="level-item has-text-centered">
				<p class="heading">已经在这里签到</p>
				<p class="title">10 人</p>
			</div>
			<div class="level-item has-text-centered">
				<p class="heading">照片数</p>
				<p class="title">155</p>
			</div>
			<div class="level-item has-text-centered">
				<p class="heading">评论数</p>
				<p class="title">599</p>
			</div>
		</nav>
		<div class="columns is-mobile separated">
			<div class="column is-half is-offset-one-quarter">
				<a class="button is-outlined is-fullwidth" href="#browse/1">开始浏览</a>
			</div>
		</div>